<p id="notice"><%= notice %></p>

<h1>Models <%= @org.present? ? " for #{@org.public_name}" : '' %>
  <%= link_to 'Add Model', new_model_path, class: 'btn btn-default pull-right' %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Model slug</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each_with_index do |model, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= model.name %></td>
        <td><%= model.model_slug %></td>
        <td><%= link_to 'View Model Types', model_types_path(model_id: model.id), class: 'btn btn-default' %>
            <%= link_to 'Show', model, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_model_path(model), class: 'btn btn-default' %>
            <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
