<%= form_for(@model_type) do |f| %>
  <% if @model_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model_type.errors.count, "error") %> prohibited this model_type from being saved:</h2>

      <ul>
      <% @model_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model_id %><br>
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :model_type_slug %><br>
    <%= f.text_field :model_type_slug %>
  </div>
  <div class="field">
    <%= f.label :model_type_code %><br>
    <%= f.text_field :model_type_code %>
  </div>
  <div class="field">
    <%= f.label :base_price %><br>
    <%= f.text_field :base_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
