<p id="notice"><%= notice %></p>

<h1>Listing Organizations
  <%= link_to 'Add Organization', new_organization_path, class: 'btn btn-default pull-right' %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Public name</th>
      <th>Type</th>
      <th>Pricing policy</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each_with_index do |organization, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= organization.name %></td>
        <td><%= organization.public_name %></td>
        <td><%= organization.org_type %></td>
        <td><%= organization.pricing_policy %></td>
        <td><%= link_to 'View Car Models', models_path(org_id: organization.id), class: 'btn btn-default' %>
            <%= link_to 'Show', organization, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_organization_path(organization), class: 'btn btn-default' %>
            <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
